.loader {
  width: 7.5rem;
  height: 1.375rem;
  border-radius: 2.5rem;
  color: #f31b11;
  border: 0.125rem solid;
  position: relative;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 0.125rem;
  width: 0.875rem;
  top: 0;
  bottom: 0;
  left: -1.25rem;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -0.625rem 0 0.75rem 0.1875rem currentColor;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
  animation: l14 1s infinite linear;
}

@keyframes l14 {
  100% {
    left: calc(100% + 1.25rem);
  }
}
